<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%-5p [%d{'MM-dd HH:mm:ss,SSS',GMT+8:00}] [%.10t][%X{CU}] %logger{36}[%L] - %m%n</Pattern>
        </layout>
    </appender>

    <appender name="Redis" class="net.myscloud.plugin.logging.logback.redis.appender.LogbackRedisAppender">
        <redisBuildStrategy class="net.myscloud.plugin.logging.logback.redis.appender.build.SingleBuildStrategy">
            <config class="net.myscloud.plugin.logging.logback.redis.appender.build.RedisConfig">
                <addresses>10.2.81.93:6379</addresses>
            </config>
        </redisBuildStrategy>
        <source>test-application</source>
        <type>test</type>
        <key>redis-log</key>
        <tags>test</tags>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="Redis"/>
    </root>
</configuration>